# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you: 
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Ben Jones
email: benjamindanieljones@gmail.com
description: "Ben Jones is a mathematics PhD candidate at Michigan State University specializing in topological data analysis (TDA), persistent Laplacians, flag complexes, and computational topology. Creator of PETLS software for efficient persistent Laplacian computations with applications to molecular biology." 
baseurl: "" # the subpath of your site, e.g. /blog
url: https://www.benjones-math.com # the base hostname & protocol for your site, e.g. http://example.com
repository: "bdjones13/bdjones13.github.io"
favicon: "/assets/images/favicon/favicon.ico"

# Build settings
remote_theme: mmistakes/minimal-mistakes
plugins:
  - jekyll-feed
  - jekyll-include-cache
  - jekyll-sitemap
  - jekyll-seo-tag


# collections:
#   software:
#     output: true

# Minimal Mistakes configurations
minimal_mistakes_skin: "default" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum" "sunrise"



author:
  name     : "Ben Jones"
  avatar   : "/assets/images/bio-photo.jpg"
  bio      : "Math PhD | TDA & Persistent Laplacians | PETLS Creator"
  location : "East Lansing, MI - USA"
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/bdjones13"

atom_feed:
  hide: true

defaults:
  # _pages
  - scope:
      path: ""
      type: pages
    values:
      author_profile: true
      layout: archive
  - scope:
      path: ""
      type: posts
    values:
      layout: single
      author_profile: true
      share: true
      related: true

footer:
  links:
    - label: "GitHub"
      icon: "fab fa-fw fa-github"
      url: "https://github.com/bdjones13"
      

#include: ["_pages", "software/**","software/\_sources/**","_software/_static/**"]
# https://talk.jekyllrb.com/t/include-all-files-in-a-specific-directory-even-if-the-filenames-start-with-underscores/5849/7
include: 
  - "_pages"
  # - **/_sources
  - "_static"
  - "_sources"
  # - software/**
  # - software/\_sources/**
  # - software/_static/**
# keep_files: 
#   - software
#   - software/**
#   - software/\_sources/**
#   - software/_static/**


# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/

